<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please register</title>
</head>
<body>
<form action="/auth/registration" th:object="${registrationDTO}" method="POST">
    <div>
        <label>username</label>
        <input th:field="*{username}"/>
    </div>
    <div>
        <label>password</label>
        <input type="password" th:field="*{password}"/>
    </div>
    <div>
        <label>confirm password</label>
        <input type="password" th:field="*{confirm}"/>
    </div>
    <button type="submit" th:text="submit">submit</button>
</form>

<form method="post" th:action="@{/login}">
    <input type="hidden" name="returnUrl" value="">
    <button type="submit">进入登陆页面</button>
</form>

</body>
</html>